<!-- https://materializecss.com/cards.html -->
    <div class="container">
      <h1>Get Ready for Yoga! </h1>
      <div class="row">
        <div class="col s5">
          <img class="responsive-img" src="/images/mysticyogalogo.png" alt="Mystic Yoga Logo">
        </div>
        <div class="col s7 ">
          <div class="card blue-grey darken-1" style="color:rgb(189, 188, 188)">
            <div class="card-content white-text">
              <span class="card-title">MYSTIC YOGA</span>
              <p>I will be back soon!</p>
              <p>Visit frequently to see updates, including planned classes and new clients.</p>
              <p>Log in to add information about past classes and new clients.</p>

            </div>
            <div class="card-action">
              <a style="color:aqua" href="/classes">See My Class Records</a>
            </div>
            <div class="card-action">
              <a style="color:deepskyblue" href="/classes/create">Add A New Class</a>
            </div>

          </div>
        </div>
      </div>
    </div>